body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  h1 {
    color: #008080;
  }
  form {
    margin: 20px auto;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input, textarea {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  button {
    background-color: #008080;
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
    button:hover {
        background-color: #006060;
    }
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    color: #fff;
  }
  menu{
    display: inline-table;
  }