<header>

    <nav>
      <ul>
      <div align="left"><h1>Nutrição</h1></div>
      <div align="right">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <a href="/">Home</a></li>
        </button>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <a href="{% url 'sobre' %}">Sobre</a></li>
        </button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <a href="#">Serviços</a></li>
        </button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <a href="{% url 'contato' %}">Contato</a></li>
        </button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Sair</a></li>
        {% else %}
            <a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        </button>
        </div>
        </ul>
    </nav>
  </header>